
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    <li>@Html.ActionLink("Define new part", "InsertPartDefinition", "Data")</li>
    <li>@Html.ActionLink("Add a newer partnumber from an old one", "AddNewerPartNumber", "Data")</li>
    <li>@Html.ActionLink("Add new part", "AddPart", "Data")</li>
</ul>

